@model UserInterface.Models.PendingSongViewModel

@{
    ViewData["Title"] = "Song Request";
}
<body>
    <div class="container card col-2 d-flex justify-content-center" style="z-index:11">
        
        <h5 class="d-flex justify-content-center text-black-50 font-weight-bold m-3">Song Request</h5>
        
        <form id="login-form" class="text-left" asp-action="Login">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="form-invalid"></div>
                <div class="form-group">
                    <label asp-for="Name" class="sr-only"></label>
                    <input asp-for="Name" class="form-control" placeholder="song name" />
                    <span asp-validation-for="Name" class="form-invalid"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Artist" class="sr-only"></label>
                    <input asp-for="Artist" class="form-control" placeholder="artist" />
                    <span asp-validation-for="Artist" class="form-invalid"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Request" class="btn btn-outline-secondary" />
                </div>
            </div>
        </form>
    </div>
</body>
