<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teapot Jams</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/dropdown.js"></script>
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    @* Top middle navigation links *@
    <div class="container col-7 fixed-top text-center rounded navbar-light bg-light"
         style="margin-top:30px;
                height:100px;
                padding-top:20px;
                font-size:20px">
        <div class="row">
            <div class="col-4" style="margin-right:0px">
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">Songs</a>
            </div>
            <div class="col-4">
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">Albums</a>
            </div>
            <div class="col-4">
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">Artists</a>
            </div>
        </div>
    </div>

    @* Left vertical navigation links *@
    @* Logo *@
    <div class="container-fluid position-fixed navbar-light bg-light rounded"
         style="margin:-20px 10px 100px -20px;
                width:300px;
                height:10000px">
        <a asp-controller="Library" asp-action="SongView">
            <img src="~/img/teapot.jpg" height="200" width="200" />
        </a>

        <ul class="nav flex-column left-nav">
            <li style="margin:10px 5px 10px 5px">
                <i class="fas fa-search" style="padding-right:5px"></i>
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">Search</a>
            </li>
            <li style="margin:10px 5px 10px 5px">
                <i class="fas fa-home" style="padding-right:5px"></i>
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">Home</a>
            </li>
            <li style="margin:10px 5px 10px 5px">
                <i class="fas fa-user" style="padding-right:5px"></i>
                <a class="font-weight-bold text-black-50" asp-area="" asp-controller="Library" asp-action="SongView">My Account</a>
            </li>
        </ul>
    </div>

    @* Bottom Player Controls *@
    <div class="col-8 container fixed-bottom navbar-light bg-light"
         style="margin:0px 0px 0px 200px;
                padding-top:25px;
                height:80px">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-backward fa-2x"></i>
            </div>
            <div class="col-4">
                <i id="play-button" class="fas fa-play fa-2x"></i>
            </div>
            <div class="col-4">
                <i class="fas fa-forward fa-2x"></i>
            </div>
        </div>
    </div>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/VideoControls.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
