@model IEnumerable<UserInterface.Models.AlbumViewModel>

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="container col-12" style="font-size: 20px; margin:200px 7px 2px 100px">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-2">
                    <a class="text-black-50 float-left font-weight-bold" asp-action="SongDetails">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <a class="text-black-50 float-left font-weight-bold" asp-action="SongDetails">
                        @Html.DisplayFor(modelItem => item.Artist.Name)
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="container fixed-bottom" id="player"
         style="margin:0px 5px 10px 1100px">
    </div>
    <script src="~/js/VideoControls.js"></script>

</body>

