@model IEnumerable<UserInterface.Models.ArtistViewModel>

@{
    ViewData["Title"] = "ArtistIndex";
}

<body>
    <div class="container col-12 row d-flex justify-content-center">

        @foreach (var item in Model)
        {
            <div class="col-3 card-click card shadow-sm rounded border m-2">
                <div class="card-body">
                    <a id="main-card-button" class="card-text text-black-50 font-weight-bold d-flex justify-content-center"
                       asp-area="" asp-action="ArtistView" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                    <br />
                    <i class="fas fa-headphones fa-lg text-black-50 card-text d-flex justify-content-center"></i>
                </div>
            </div>
        }
    </div>

    <script src="~/js/AlbumCards.js"></script>

</body>

